body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

#countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  margin: 10px;
  cursor: pointer;
}

.country img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

#country-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Inicialmente oculto */
  width: 300px;
  text-align: center;
}

#country-info.hidden {
  display: none; /* Mantener oculto */
}

#country-info:not(.hidden) {
  display: block; /* Mostrar cuando no tenga la clase 'hidden' */
}

#close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#close-btn:hover {
  background-color: #e53935;
}
